

.main {
	width: 1200px;
	margin: 0 auto;
	padding: 100px 0 120px 0;
}

.title {
	width: 600px;
	border-bottom: 2px solid #999;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title h3 {
	font-size: 22px;
	color: #333;
	font-weight: normal;
}

.title p {
	width: 694px;
	font-size: 14px;
	color: #999;
	margin: 12px 0 20px 0;
	text-align: center;
}

.title .border_org {
	width: 70px;
	height: 2px;
	background: #FF9C00;
	display: block;
	margin-bottom: -2px;
}

.case_content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.case_list {
	margin-top: 100px;
}

.case_list ul {
	display: flex;
	flex-wrap: wrap;
}

.case_list ul li:nth-child(2n + 1) {
	margin-right: 22px;
}


.case_list ul li:nth-child(n + 2) {
	margin-bottom: 22px;
}

.case_list ul li {
	width: 580px;
	height: 400px;
	display: block;
}

.case_list ul li dl {
	width: 100%;
}

.case_list ul li dl dd {
	padding: 30px 20px;

}

.case_list ul li dl dd h4 {
	font-size: 18px;
	color: #333;
	margin-bottom: 20px;
}

.case_list ul li dl dd p {
	width: 540px;
	font-size: 14px;
	color: #999;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.case_list ul li dl dd .more {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}

.case_list ul li dl dd .more p {
	width: 102px;
	height: 30px;
	border: 1px solid #999;
	border-radius: 16px;
}

.case_list ul li dl dd .more p a {
	width: 102px;
	height: 30px;
	font-size: 14px;
	color: #999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.case_list ul li dl dd .more span {
	font-size: 14px;
	color: #999;
}



