

.wrap {
	width: 100%;
}

.index_banner {
	height: auto;
}

.index_banner .swiper-container {
	height: auto;
	position: relative;
}

.index_banner .swiper-container .swiper-pagination {
	width: auto!important;
	display: flex;
	bottom: 106px;
	right: 360px;
    justify-content: flex-end;
}

.index_banner .swiper-container .swiper-pagination li {
	width: 20px;
	margin-right: 10px;
}

.index_banner .swiper-container .swiper-pagination-custom  span {
	width: 20px;
	height: 10px;
	border-top: 2px solid rgba(255, 255, 255, 0.4);
	display: block;
}

.index_banner .swiper-container .swiper-pagination-custom .active span {
	border-color: rgba(255, 255, 255, 1);
}
#swiper-container1 {
	height: 422px;
	width: 1180px;
	padding-left: 3px;
}

#swiper-slide1 {
	position: relative;
}

.module {
	width: 100%;
	height: 170px;
	background: rgba(0,0,0,0.1);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
}

.module ul {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}

.module ul li {
	display: flex;
}

.module ul li div {
	margin-left: 26px;
}

.module ul li div p {
	color: #fff;
	font-size: 16px;
}

.module ul li div span {
	color: #fff;
	font-size: 12px;
	margin-top: 10px;
}

.logo1 {
    position: absolute;
    top: -45px;
    left: 48%;
}

.consultation {
	position: absolute;
	top: 372px;
	left: 360px;
	z-index: 99;
}

.consultation a {
	width:180px;
	height:52px;
	color: #fff;
	font-size: 18px;
	background: #FFA800; 
	border-radius: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .main {
	width: 1200px;
	margin: 0 auto;
} */

.product_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}

.product_list {
	margin-top: 82px;
	padding-bottom: 150px;
	background: url('../img/programme_bg.png') no-repeat center bottom;
}

.product_list ul {
	width: 1200px;
	display: flex;
	
}

.product_list ul > div {

	width: 300px;
}

.product_list ul > div > li {
	width: 300px;
	height: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	border-top: 3px solid #f3f3f3;
	padding: 60px 40px 0 40px;
	background: #fff;
}

.product_list ul > div:last-child > li {
	border-right: 1px solid #f3f3f3;
}

/*.product_list ul > div > li:hover {
	position: absolute;
}*/

.curr {
	width: 380px!important;
	height: 510px!important;
	border-color: #FF9C00!important;
	border-right: 1px solid;
	border-bottom: 1px solid;
	padding: 60px 16px 0 20px!important;
	position: absolute;
	top: -20px;
	left: 0;
	z-index: 99;
	-moz-transition: all 0.4s ease; 
	-webkit-transition: all 0.4s ease; 
	-o-transition: all 0.4s ease; 
	transition: all 0.4s ease;
}

.curr .list_name h4 {
	color: #FF9C00!important;
}

.curr > ol {
	width: 100%;
}

.curr > ol > li:not(:first-child) {
	margin-top: 30px
}

.product_list .list_name {
	width: 100%;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #F3F3F3;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product_list .list_name h4 {
	font-weight: normal;
	font-size: 18px;
	color: #333;
	margin: 18px 0 10px 0;
}

.product_list .list_name p {
	font-size: 12px;
	color: #999;
}

.product_list ol li p {
	font-size: 14px;
	color: #333;
	line-height: 30px;
}

.product_list ol li p b {
	font-weight:normal;
}

.product_list ol li span {
	font-size: 12px;
	color: #666;
	line-height: 20px;
 	display: none; 
}

.programme {
	width: 100%;
	margin: 0 auto;
	/* margin-top: 80px; */
	background: url('../img/programme_bg.png') no-repeat;
	padding-bottom:  60px;	
	background: #f3f3f3;
}

.programme_contont {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
}

.title {
	width: 248px;
	/*border-bottom: 2px solid #999;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title h3 {
	font-size: 22px;
	color: #333;
	font-weight: normal;
	margin: 18px 0 10px 0;
}

.title p {
	font-size: 14px;
	color: #999;
	text-align: center;
}

.title .border_org {
	width: 70px;
	height: 2px;
	background: #FF9C00;
	display: block;
	margin-bottom: -2px;
}

.programme_item {
	margin-top: 84px;
}

.programme_item ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.programme_item ul li {
	background: #fff;
	border-radius: 6px;
	margin-right: 30px;
}

.programme_item ul li:nth-child(4), .programme_item ul li:last-child {
	margin-right: 0;
}

.programme_item ul li:nth-child(-n+4) {
	margin-bottom: 32px;
}

.programme_item ul li a {
	width: 280px;
	height: 440px;
	color: #333!important;
	display: flex;
	flex-direction: column;
}

.programme_item ul li a .item_img {
	width: 280px;
	height: 270px;
	overflow: hidden;
}

.item_img img {
	transition: all 0.8s; 
}

.item_img > img:hover {
	transform: scale(1.2);
}

.programme_item ul li a .item_text {
	padding: 20px 20px;
}

.programme_item ul li a .item_text h4 {
	font-size: 20px;
	color: #333;
	font-weight: normal;
	display: flex;
	align-items: center;
}

.programme_item ul li a .item_text h4 img {
	display: block;
	width: 22px;
	height: 22px;
	margin-left: 20px;
}

.programme_item ul li a .item_text span {
	width: 100%;
	font-size: 12px;
	color: #999;
	line-height: 20px;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 16px;
	display: block;
    text-align: left;
	border-bottom: 1px solid #F3F3F3;
}

.programme_item ul li a .item_text p {
	margin-top: 20px;
	color: #666;
	font-size: 16px;
}

.programme_more a {
	width:104px;
	height:32px;
	color: #999;
	font-size: 14px;
	border: 1px solid #999;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}

.case {
	width: 100%;
	background: #fff;
	padding: 70px 0 130px 0;
}

.case_content {
	/*width: 1200px;*/
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.case_item {
	width: 100%;
	height: 500px;
	margin-top: 60px;
	background: url('../img/anli_bg.png') no-repeat;
}

.case_item .case_con {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
}

.case_item .case_con .case_list {
	width: 300px;
	height: 100%;
	padding-top: 155px;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	position: relative;
}

/*#swiper-container1 {
	margin-top: 100px;
}

 .swiper-slide {
	height: 332px;
	position: relative;
}

#swiper-container1 .swiper-slide:last-child {
	margin-right: 0;
}
*/

 /*.case_list {
	width: 304px;
	height: 160px;
	background: #fff;
	border-radius: 6px;	
	margin-top: 42px;
	padding: 130px 38px 0 38px; 
	border: 1px solid #f3f3f3	
}
*/
 .case_list h3 {
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	margin-top: 40px;
	margin-bottom: 30px;
	z-index: 99;
}

.case_list p {
	width: 218px;
	height: 64px;
	font-size: 14px;
	color: #fff;
	line-height:22px;
	padding-bottom: 40px;
	text-align: center;
	z-index: 99;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.anli_icon {
	margin-top: 40px;
	display: none;
	z-index: 99;
}

.mask{
    width: 300px;
	height: 100%;
    background:rgba(255,156,0,.6);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.case_list .iconImg {
	z-index: 99;
}

.case_list .time {
	font-size: 12px;
	color: #999;
	background: url('../img/clock.png') no-repeat left center;
	background-size: 16px 16px;
	padding-left: 26px;
	float: right;
	display: none;
} 

.swiper-button-prev {
	background: url('../img/left_01.png') no-repeat!important;
	top: 100%!important;
	left: 40%!important;
}

.swiper-button-next {
	background: url('../img/right_01.png') no-repeat!important;
	top: 100%!important;
	right: 40%!important;
}

.swiper-button-next, .swiper-button-prev {
	margin-top: -28px!important;
}

.case_more {
	position: absolute;
	bottom: 0;
	left: 45%;
	z-index: 10;
}

.case_more a {
	width:104px;
	height:32px;
	font-size: 14px;
	color: #999;
	border: 1px solid #999;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hua_news {
	width: 1200px;
	margin: 0 auto;
	height: auto;
	background: url('../img/news_bg.png') no-repeat;
	padding: 0 0 90px 0;
}

.news_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 76px;
}

.news_item {
	margin-top: 80px;
}

.news_list {
	width: 580px;
	height: 190px;
	background: #f3f3f3;
	display: block;
}

.news_list dl {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	
}

.news_list dl .news_time {
	width: 88px;
	height: 24px;
	font-size: 12px;
	color: #fff;
	display: flex;
	padding-top: 2px;
	padding-left: 14px;
	position: absolute;
	top: 10px;
	left: 496px;
	background: url('../img/time.png') no-repeat;
	background-size: 88px 24px;
}

.news_list dl dt img {
	margin-left: 10px;
	display: block;
}

.news_list dl dd {
	margin: 0 30px;
}

.news_list dl dd h4 {
	font-size: 16px;
	color: #333;
}

.news_list dl dd p {
	font-size: 14px;
	color: #999;
	margin-top: 22px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.news_item .swiper-container {
	width: 1200px;
	padding-bottom: 100px;
}

#swiper-container1 .swiper-wrapper > div:nth-child(3) {
	margin-right: 0;
}

#swiper-container2 .swiper-wrapper .swiper-slide {
	cursor: pointer;
}

.swiper-button-prev.swiper-button-disabled {
	background: url('../img/left.png') no-repeat!important;
	opacity: 1!important;
}

.swiper-button-next.swiper-button-disabled {
	background: url('../img/right.png') no-repeat!important;
	opacity: 1!important;
}

