

.wrap {
	width: 100%;
}

.index_banner .swiper-container .swiper-pagination {
	width: auto!important;
	display: flex;
	bottom: 106px;
	right: 360px;
    justify-content: flex-end;
}

.index_banner .swiper-container .swiper-pagination li {
	width: 20px;
	margin-right: 10px;
}

.index_banner .swiper-container .swiper-pagination-custom  span {
	width: 20px;
	height: 10px;
	border-top: 2px solid rgba(255, 255, 255, 0.4);
	display: block;
}

.index_banner .swiper-container .swiper-pagination-custom .active span {
	border-color: rgba(255, 255, 255, 1);
}
#swiper-container1 {
	height: 422px;
	width: 1180px;
	padding-left: 3px;
}

#swiper-slide1 {
	position: relative;
}

.consultation {
	position: absolute;
	top: 372px;
	left: 360px;
	z-index: 99;
}

.consultation a {
	width:180px;
	height:52px;
	color: #fff;
	font-size: 18px;
	background: #FFA800; 
	border-radius: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	width: 1200px;
	margin: 0 auto;
}

.programme {
	margin-top: 122px;
	background: url('../img/programme_bg.png') no-repeat;
	padding-bottom:  90px;
}

.programme_contont {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	width: 248px;
	border-bottom: 2px solid #999;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title h3 {
	font-size: 22px;
	color: #333;
	font-weight: normal;
}

.title p {
	font-size: 14px;
	color: #999;
	margin: 12px 0 20px 0;
}

.title .border_org {
	width: 70px;
	height: 2px;
	background: #FF9C00;
	display: block;
	margin-bottom: -2px;
}

.programme_item {
	margin-top: 84px;
}

.programme_item ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.programme_item ul li {
	background: #F3F3F3;
	border-radius: 6px;
	margin-right: 30px;
}

.programme_item ul li:nth-child(4), .programme_item ul li:last-child {
	margin-right: 0;
}

.programme_item ul li:nth-child(-n+4) {
	margin-bottom: 32px;
}

.programme_item ul li a {
	width: 270px;
	height: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.programme_item ul li a p {
	font-size: 18px;
	color: #333;
	margin-top: 36px;
}

.programme_item ul li a span {
	font-size: 12px;
	color: #FFF0C9;
	line-height: 16px;
	text-align: center;
	margin-top: 20px;
	display: none;
}

.programme_more a {
	width:104px;
	height:32px;
	color: #999;
	font-size: 14px;
	border: 1px solid #999;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}

.case {
	background: #f3f3f3;
	padding: 120px 0 80px 0;
}

.case_content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.case_item {
	margin-top: 100px;
}

#swiper-container1 .swiper-slide {
	width: auto!important;
	height: 332px;
	position: relative;
}

.case_item .case_list {
	width: 380px;
	height: auto;
	background: #fff;
	border-radius: 6px;	
	margin-top: 42px;
	
}

#swiper-container1 .swiper-slide:last-child {
	margin-right: 0;
}

.case_item .case_list a {
	width:auto;
	height: auto; 
	margin: 0 38px;
	padding-top: 130px;
	display: block;
}

.case_item .case_list a h3 {
	font-size: 18px;
	color: #333;
	font-weight: normal;
	margin-bottom: 20px;
}

.case_item .case_list a p {
	font-size: 14px;
	color: #999;
	line-height:22px;
	padding-bottom: 40px;
}

.case_item .case_list a span {
	font-size: 12px;
	color: #999;
	background: url('../img/clock.png') no-repeat left center;
	background-size: 16px 16px;
	padding-left: 26px;
	float: right;
	display: none;
}

.case_item .case_list a img {
	display: block;
	position: absolute;
	top: 12px;
	left: 38px;
}

.swiper-button-prev {
	background: url('../img/left_01.png') no-repeat!important;
	top: 100%!important;
	left: 40%!important;
}

.swiper-button-next {
	background: url('../img/right_01.png') no-repeat!important;
	top: 100%!important;
	right: 40%!important;
}

.swiper-button-next, .swiper-button-prev {
	margin-top: -28px!important;
}

.case_more {
	position: absolute;
	bottom: 0;
	left: 45%;
}

.case_more a {
	width:104px;
	height:32px;
	font-size: 14px;
	color: #999;
	border: 1px solid #999;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hua_news {
	height: auto;
	background: url('../img/news_bg.png') no-repeat;
	padding: 0 0 90px 0;
}

.news_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 76px;
}

.news_item {
	margin-top: 80px;
}

.news_list {
	width: 580px;
	height: 190px;
	background: #f3f3f3;
	display: block;
}

.news_list dl {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	
}

.news_list dl .news_time {
	width: 88px;
	height: 24px;
	font-size: 12px;
	color: #fff;
	display: flex;
	padding-top: 2px;
	padding-left: 14px;
	position: absolute;
	top: 10px;
	left: 496px;
	background: url('../img/time.png') no-repeat;
	background-size: 88px 24px;
}

.news_list dl dt img {
	margin-left: 10px;
	display: block;
}

.news_list dl dd {
	margin: 0 30px;
}

.news_list dl dd h4 {
	font-size: 16px;
	color: #333;
}

.news_list dl dd p {
	font-size: 14px;
	color: #999;
	margin-top: 22px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.news_item .swiper-container {
	width: 1200px;
	padding-bottom: 100px;
}

#swiper-container1 .swiper-wrapper > div:nth-child(3) {
	margin-right: 0;
}

#swiper-container2 .swiper-wrapper .swiper-slide {
	cursor: pointer;
}

.swiper-button-prev.swiper-button-disabled {
	background: url('../img/left.png') no-repeat!important;
}

.swiper-button-next.swiper-button-disabled {
	background: url('../img/right.png') no-repeat!important;
}
