.product_banner {
	position: relative;
}

.ban_text {
	position: absolute;
	top: 130px;
	left: 524px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ban_text h3 {
	color: #FFFFFF;
	font-size: 22px;
	font-weight: normal;
}

.ban_text h3 span {
	color: #FFA800;
}

.ban_text p {
	font-size: 14px;
	color: #aaa;
	margin-top: 20px;
}

.main {
	width: 1200px;
	min-height: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 150px;
}

.title {
	width: 600px;
	border-bottom: 2px solid #999;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title h3 {
	font-size: 22px;
	color: #333;
	font-weight: normal;
}

.title p {
	width: 694px;
	font-size: 14px;
	color: #999;
	margin: 12px 0 20px 0;
	text-align: center;
}

.title .border_org {
	width: 70px;
	height: 2px;
	background: #FF9C00;
	display: block;
	margin-bottom: -2px;
}

.product_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}

.product_list {
	margin-top: 100px;
	min-height: 620px;
}

.product_list ul {
	display: flex;
	position: relative;
}

.product_list ul > li {
	width: 253px;
	height: 346px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #f3f3f3;
	border-top: 3px solid #f3f3f3;
	padding: 60px 16px 30px 30px;
	background: #fff;
}

.product_list ul > li:not(:last-child) {
	border-right: none;
}

.product_list .list_name {
	margin-bottom: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product_list .list_name h4 {
	font-weight: normal;
	font-size: 18px;
	color: #333;
	margin: 18px 0 10px 0;
}

.product_list .list_name p {
	font-size: 12px;
	color: #999;
}

.product_list ol li p {
	font-size: 14px;
	color: #999;
	line-height: 30px;
}

.product_list ol li p b {
	font-weight:normal;
}

.product_list ol li span {
	font-size: 12px;
	color: #666;
	line-height: 20px;
 	display: none; 
}

.group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.group_img {
	margin-top: 80px;
}

.group_img ul {
	background: #e3e3e3;
	display: flex;
	flex-wrap: wrap;
}

.group_img ul li img {
	display: block;
}

.on {
	transform: rotateY(360deg);
	transition: 1.5s;
	transform-style: preserve-3d;
}